<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../public/stylesheets/style.css" />
  <title>Tech Blog</title>
</head>

<body>
  <nav>
    <ul>
      <li>Home</li>
      <li>Dashboard</li>
      <li>Login</li>
    </ul>
  </nav>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Just Tech News</a>
      </h1>
    </header>
    <main>
      {{{ body }}}
    </main>
    <div>
      <h3>Add a New Post!</h3>
      
    </div>
    <footer>
      Copyright 2021 Tech Blog
    </footer>
  </div>

</body>

</html>
<script src="/javascript/logout.js"></script>