<div>
    <h2>Add a Post</h2>
    <form id="add-post">
        <div>
           <label for="post-title">Title of Post</label>
           <input type="text" id="post-title" name="post-title" /> 
        </div>

        <div>
           <label for="post-body">Body</label>
           <input id="post-body" name="post-body"/> 
        </div>
            
            <button type="submit">Add</button>
        
    </form>
</div>

<script src="/javascript/add-post.js"></script>