<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
</head>
<body>
    <header>

<!-- nav bar !-->
        <nav>
            <ul>
                <li>Home</li>
                <li>Dashboard</li>
                <li>Logout</li>
            </ul>
        </nav>

<!-- in own div for color and size !-->
        <div>
            <h1>The Tech Blog</h1>
        </div>
    </header>
</body>
</html>