<article>
    <a href="/dashboard">Back to dashboard</a>
    <h2>Edit Post</h2>

    <form>
        <div>
            <input>
        </div>
    </form>
</article>
<script src="/javascript/edit-post.js"></script>