<form class = "signup-form">
    <div>
        <label>Username:</label>
        <input type="text" id="username-login"/>
    </div>

    <div>
        <label>Password</label>
        <input type="text" id="password-login"/>
    </div>

    <div>
        <button type="submit">Login!</button>
    </div>
</form>

<script src="/javascript/login.js"></script>