<form class = "signup-form">
    <div>
        <label>Choose a Username</label>
        <input type="text" id="username-signup"/>
    </div>

    <div>
        <label>Choose a password</label>
        <input type="text" id="password-signup"/>
    </div>

    <div>
        <button type="submit">Sign Up</button>
    </div>
</form>

<script src="/javascript/sign-up.js"></script>