<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Just Another Tech Blog</title>
</head>
<body>
    <header>

<!-- nav bar !-->
        <nav>
            <ul>
                <li>
                    <a href ="/">Home</a>
                </li>
                <li>
                    <a href = "/dashboard">Dashboard</a>
                </li>
                <li>
                    <a href = "#" id="logout-link">Logout</a>
                </li>
            </ul>
        </nav>

        <header>
            <h1>Dashboard</h1>
        </header>

        <main>
            {{{body}}}
        </main>

<!-- in own div for color and size !-->
    </header>
</body>

<script src="/javascript/logout.js"></script>
</html>